.frame {
      min-height: 270vh;
      position: relative;
      width: 100%;
    }

    .frame .div {
      height: 2119px;
      width: 100%;
      margin: 0 auto;
      background-color: green;
    }

    .frame .overlap {
      height: 2066px;
      left: 0;
      position: absolute;
      top: 53px;
      width: 100%;
      background-image: linear-gradient(to top left, #fdebe7, #faf9f9, #f8e0d2);
    }

    .frame .div-2 {
      height: 2066px;
      width: 1200px;
      margin: 0;
      background-color: blue;
    }

    .frame .div-3 {
      height: 2066px;
      width: 919px;
      margin: 0 0 0 281px;
      background-color: yellow;
    }

    .frame .div-4 {
      height: 701px;
      width: 704px;
      margin: 126px 0 0 119px;
      background-color: crimson;
    }

    .frame .div-5 {
      height: 576px;
      width: 712px;
      margin: 85px 0 0 -4px;
    }

    .frame .div-6 {
      height: 112px;
      width: 348px;
      margin: 0 0 0 4px;
    }

    .frame .overlap-group {
      height: 113px;
      width: 116px;
      margin: -1px 0 0 -4px;
    }

    .frame .rectangle-wrapper {
      background-image: url(../images/Dalgona.jpg);
      background-position: 50% 50%;
      background-size: cover;
      background-color: yellow;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 1px;
      width: 112px;
      border-radius: 20%;
    }

    .frame .rectangle-5 {
      /* background-color: #d9d9d9; */
      height: 112px;
    }

    .frame .text-wrapper {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 15px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 61px;
    }

    .frame .text-wrapper-2 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 18px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      min-width: 74px;
    }

    .frame .div-7 {
      height: 112px;
      left: 360px;
      position: absolute;
      top: 0;
      width: 348px;
    }

    .frame .overlap-group-2 {
      height: 112px;
      left: -4px;
      position: absolute;
      top: 0;
      width: 116px;
    }

    .frame .div-wrapper {
      background-image: url(../images/Regular_iced.jpeg);
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
      border-radius: 20%;
    }

    .frame .text-wrapper-3 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 58px;
    }

    .frame .text-wrapper-4 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      min-width: 106px;
    }

    .frame .div-8 {
      height: 112px;
      left: 4px;
      position: absolute;
      top: 144px;
      width: 348px;
    }

    .frame .rectangle-wrapper-2 {
      background-image: url(../images/Regular_hot.jpeg);
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
      border-radius: 20%;
    }

    .frame .text-wrapper-5 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 15px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 33px;
    }

    .frame .text-wrapper-6 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      min-width: 77px;
    }

    .frame .div-9 {
      height: 112px;
      left: 360px;
      position: absolute;
      top: 144px;
      width: 348px;
    }

    .frame .rectangle-wrapper-3 {
      /* background-image: url(./IMAGE-15.png); */
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
    }

    .frame .text-wrapper-7 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 48px;
    }

    .frame .text-wrapper-8 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      width: 94px;
    }

    .frame .div-10 {
      height: 112px;
      left: 4px;
      position: absolute;
      top: 288px;
      width: 348px;
    }

    .frame .rectangle-wrapper-4 {
      /* background-image: url(./IMAGE-16.png); */
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
    }

    .frame .text-wrapper-9 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 97px;
    }

    .frame .text-wrapper-10 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 28px;
      width: 195px;
    }

    .frame .div-11 {
      height: 112px;
      left: 360px;
      position: absolute;
      top: 288px;
      width: 348px;
    }

    .frame .rectangle-wrapper-5 {
      /* background-image: url(./IMAGE-17.png); */
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
    }

    .frame .text-wrapper-11 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      width: 114px;
    }

    .frame .div-12 {
      height: 112px;
      left: 4px;
      position: absolute;
      top: 432px;
      width: 348px;
    }

    .frame .rectangle-wrapper-6 {
      /* background-image: url(./IMAGE-18.png); */
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
    }

    .frame .text-wrapper-12 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 18px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      width: 81px;
    }

    .frame .div-13 {
      height: 112px;
      left: 360px;
      position: absolute;
      top: 432px;
      width: 348px;
    }

    .frame .rectangle-wrapper-7 {
      /* background-image: url(./IMAGE.png); */
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
    }

    .frame .text-wrapper-13 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      width: 102px;
    }

    .frame .text-wrapper-14 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 24px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 36px;
      position: absolute;
      top: 15px;
      width: 78px;
    }

    .frame .div-14 {
      height: 557px;
      left: 119px;
      position: absolute;
      top: 527px;
      width: 704px;
    }

    .frame .div-15 {
      height: 432px;
      left: -4px;
      position: absolute;
      top: 85px;
      width: 712px;
    }

    .frame .rectangle-wrapper-8 {
      background-image: url(../images/mie_nyemek.jpg);
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
      border-radius: 20%;
    }

    .frame .text-wrapper-15 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 71px;
    }

    .frame .text-wrapper-16 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      min-width: 123px;
    }

    .frame .rectangle-wrapper-9 {
      background-image: url(../images/Croffle2.jpg);
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
      border-radius: 20%;
    }

    .frame .oatmeal-yogurt {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 64px;
    }

    .frame .oatmeal-yogurt-2 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      min-width: 158px;
    }

    .frame .rectangle-wrapper-10 {
      background-image: url(../images/FD_SateBaksoSeafood.jpg);
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 1px;
      width: 112px;
      border-radius: 20%;
    }

    .frame .text-wrapper-17 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 51px;
    }

    .frame .text-wrapper-18 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      min-width: 61px;
    }

    .frame .rectangle-wrapper-11 {
      /* background-image: url(./IMAGE-4.png); */
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 1px;
      width: 112px;
    }

    .frame .text-wrapper-19 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 15px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 44px;
    }

    .frame .text-wrapper-20 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      width: 53px;
    }

    .frame .rectangle-wrapper-12 {
      /* background-image: url(./IMAGE-5.png); */
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
    }

    .frame .snacks-sweets {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 15px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 53px;
    }

    .frame .snacks-sweets-2 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 18px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      width: 147px;
    }

    .frame .text-wrapper-21 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 24px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 36px;
      position: absolute;
      top: 15px;
      width: 58px;
    }

    .frame .div-16 {
      height: 269px;
      left: 119px;
      position: absolute;
      top: 934px;
      width: 704px;
    }

    .frame .div-17 {
      height: 144px;
      left: -4px;
      position: absolute;
      top: 85px;
      width: 712px;
    }

    .frame .rectangle-wrapper-13 {
      background-image: url(../images/DalCro.png);
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
      border-radius: 20%;
    }

    .frame .text-wrapper-22 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 49px;
    }

    .frame .text-wrapper-23 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      min-width: 108px;
    }

    .frame .rectangle-wrapper-14 {
      background-image: url(../images/Combo123.png);
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
      border-radius: 20%;
    }

    .frame .text-wrapper-24 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 53px;
    }

    .frame .text-wrapper-25 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 18px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      min-width: 104px;
    }

    .frame .text-wrapper-26 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 24px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 36px;
      position: absolute;
      top: 15px;
      width: 186px;
    }

    .frame .div-18 {
      height: 413px;
      left: 119px;
      position: absolute;
      top: 1203px;
      width: 704px;
    }

    .frame .div-19 {
      height: 288px;
      left: -4px;
      position: absolute;
      top: 85px;
      width: 712px;
    }

    .frame .rectangle-wrapper-15 {
      background-image: url(../images/lotus_bischoff.jpg);
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 112px;
      border-radius: 20%;
    }

    .frame .text-wrapper-27 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 15px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 37px;
    }

    .frame .text-wrapper-28 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 18px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      width: 120px;
    }

    .frame .rectangle-wrapper-16 {
      background-image: url(../images/Choco_crispyballs.jpg);
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 1px;
      width: 112px;
      border-radius: 20%;
    }

    .frame .text-wrapper-29 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 68px;
    }

    .frame .text-wrapper-30 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      width: 120px;
    }

    .frame .rectangle-wrapper-17 {
      /* background-image: url(./IMAGE-10.png); */
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 1px;
      width: 112px;
    }

    .frame .text-wrapper-31 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 40px;
    }

    .frame .text-wrapper-32 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 128px;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 40px;
      width: 48px;
    }

    .frame .rectangle-wrapper-18 {
      /* background-image: url(./IMAGE-11.png); */
      background-position: 50% 50%;
      background-size: cover;
      height: 112px;
      left: 4px;
      position: absolute;
      top: 1px;
      width: 112px;
    }

    .frame .text-wrapper-33 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 0;
      width: 43px;
    }

    .frame .text-wrapper-34 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 24px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 36px;
      position: absolute;
      top: 15px;
      width: 156px;
    }

    .frame .text-wrapper-35 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 28px;
      font-weight: 400;
      left: 119px;
      letter-spacing: 0.16px;
      line-height: 38.8px;
      position: absolute;
      top: 39px;
      width: 79px;
    }

    .frame .div-20 {
      height: 968px;
      width: auto;
      margin: 40px 0 0 131px;
    }

    .frame .div-21 {
      height: 372px;
      width: auto;
      margin:0;
      background-color: red;
    }

    .frame .text-wrapper-36 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: -2px;
      width: 58px;
    }

    .frame .div-22 {
      height: 328px;
      left: 0;
      position: absolute;
      top: 44px;
      min-width: 150px;
    }

    .frame .text-wrapper-37 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: -1px;
      width: auto;
    }

    .frame .text-wrapper-38 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 39px;
      width: auto;
    }

    .frame .text-wrapper-39 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 79px;
      width: auto;
    }

    .frame .text-wrapper-40 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 119px;
      min-width: 79px;
    }

    .frame .text-wrapper-41 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 15px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 160px;
      width: 141px;
    }

    .frame .text-wrapper-42 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 223px;
      width: 96px;
    }

    .frame .text-wrapper-43 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 15px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 263px;
      width: 69px;
    }

    .frame .text-wrapper-44 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 303px;
      width: 86px;
    }

    .frame .div-23 {
      height: 228px;
      left: 0;
      position: absolute;
      top: 180px;
      width: auto;
    }

    .frame .text-wrapper-45 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: -2px;
      width: 45px;
    }

    .frame .div-24 {
      height: 184px;
      left: 0;
      position: absolute;
      top: 44px;
      min-width: 150px;
    }

    .frame .text-wrapper-46 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: -1px;
      width: auto;
    }

    .frame .oatmeal-yogurt-3 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 39px;
      width: auto;
    }

    .frame .text-wrapper-47 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 79px;
      width: auto;
    }

    .frame .text-wrapper-48 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 15px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 119px;
      width: 44px;
    }

    .frame .snacks-sweets-3 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 15px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 159px;
      width: 125px;
    }

    .frame .div-25 {
      height: 108px;
      left: 0;
      position: absolute;
      top: 360px;
      width: auto;
    }

    .frame .text-wrapper-49 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: -2px;
      width: 143px;
    }

    .frame .div-26 {
      height: 64px;
      left: 0;
      position: absolute;
      top: 44px;
      min-width: 150px;
    }

    .frame .text-wrapper-50 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: -1px;
      width: auto;
    }

    .frame .text-wrapper-51 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 39px;
      width: auto;
    }

    .frame .div-27 {
      height: 188px;
      left: 0;
      position: absolute;
      top: 500px;
      width: auto;
    }

    .frame .text-wrapper-52 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: -2px;
      width: 119px;
    }

    .frame .div-28 {
      height: 144px;
      left: 0;
      position: absolute;
      top: 44px;
      min-width: 150px;
    }

    .frame .text-wrapper-53 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: -1px;
      width: 200px;
    }

    .frame .text-wrapper-54 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 39px;
      width: auto;
    }

    .frame .text-wrapper-55 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 79px;
      width: 40px;
    }

    .frame .text-wrapper-56 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 119px;
      width: 43px;
    }

    .frame .navbar-wrapper {
      background-color: rgba(231, 181, 87, 0.945);
      height: 53px;
      margin-top: 0;
      margin-left: 0;
      width: 100%;
    }

    .frame .navbar {
      height: 51px;
      width: 100%;
      display: flex;
      margin: auto 110px;
      align-items: center;
    }

    .frame .text-wrapper-57 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.16px;
      line-height: 19.5px;
      width: 54px;
      display:inline;
      margin: 0 20px;
    }

    .frame .text-wrapper-58 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.16px;
      line-height: 19.5px;
      width: 105px;
      display:inline;
      margin: 0 20px;
    }

    .frame .text-wrapper-59 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.16px;
      line-height: 19.5px;
      width: 73px;
      display:inline;
      margin: 0 20px;
    }

    .frame .text-wrapper-60 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.16px;
      line-height: 19.5px;
      width: 97px;
      display:inline;
      margin: 0 20px;
    }

    .frame .frame-wrapper {
      background-color: #ffffff;
      box-shadow: 0px -1px 3px #0000001a;
      height: 796px;
      left: 0;
      position: absolute;
      top: 2119px;
      width: 1200px;
    }

    .frame .div-29 {
      height: 602px;
      position: relative;
      top: 48px;
    }

    .frame .img {
      height: 51px;
      left: 126px;
      position: absolute;
      top: 454px;
      width: 1034px;
    }

    .frame .div-30 {
      height: 388px;
      left: 131px;
      position: absolute;
      top: 0;
      width: 1029px;
    }

    .frame .div-31 {
      height: 388px;
      left: 0;
      position: absolute;
      top: 0;
      width: 180px;
    }

    .frame .text-wrapper-61 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: -2px;
      width: 81px;
    }

    .frame .div-32 {
      height: 328px;
      left: 0;
      position: absolute;
      top: 52px;
      width: 135px;
    }

    .frame .text-wrapper-62 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 55px;
      width: 81px;
    }

    .frame .text-wrapper-63 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 151px;
      width: 133px;
    }

    .frame .text-wrapper-64 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 247px;
      width: 130px;
    }

    .frame .text-wrapper-65 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 7px;
      width: 104px;
    }

    .frame .text-wrapper-66 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 199px;
      width: 135px;
    }

    .frame .text-wrapper-67 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 103px;
      width: 129px;
    }

    .frame .text-wrapper-68 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 295px;
      width: 81px;
    }

    .frame .div-33 {
      height: 388px;
      left: 212px;
      position: absolute;
      top: 0;
      width: 180px;
    }

    .frame .text-wrapper-69 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: -2px;
      width: 70px;
    }

    .frame .div-34 {
      height: 328px;
      left: 0;
      position: absolute;
      top: 52px;
      width: 180px;
    }

    .frame .text-wrapper-70 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 56px;
      width: 178px;
    }

    .frame .text-wrapper-71 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 199px;
      width: 145px;
    }

    .frame .text-wrapper-72 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 295px;
      width: 158px;
    }

    .frame .text-wrapper-73 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 15px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 7px;
      width: 136px;
    }

    .frame .text-wrapper-74 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 14px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 247px;
      width: 88px;
    }

    .frame .text-wrapper-75 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 128px;
      width: 158px;
    }

    .frame .div-35 {
      height: 388px;
      left: 424px;
      position: absolute;
      top: 0;
      width: 180px;
    }

    .frame .div-36 {
      height: 160px;
      left: 0;
      position: absolute;
      top: 52px;
      width: 180px;
    }

    .frame .text-wrapper-76 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 7px;
      width: 51px;
    }

    .frame .p {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 104px;
      width: 177px;
    }

    .frame .text-wrapper-77 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 55px;
      width: 47px;
    }

    .frame .text-wrapper-78 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: -2px;
      width: 120px;
    }

    .frame .div-37 {
      height: 388px;
      left: 637px;
      position: absolute;
      top: 0;
      width: 180px;
    }

    .frame .div-38 {
      height: 256px;
      left: 0;
      position: absolute;
      top: 80px;
      width: 180px;
    }

    .frame .text-wrapper-79 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 8px;
      width: 128px;
    }

    .frame .text-wrapper-80 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 128px;
      width: 147px;
    }

    .frame .text-wrapper-81 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 79px;
      width: 69px;
    }

    .frame .text-wrapper-82 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 200px;
      width: 172px;
    }

    .frame .text-wrapper-83 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 18px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: 0;
      width: 110px;
    }

    .frame .div-39 {
      height: 388px;
      left: 849px;
      position: absolute;
      top: 0;
      width: 180px;
    }

    .frame .text-wrapper-84 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 19px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 28.5px;
      position: absolute;
      top: -2px;
      width: 161px;
    }

    .frame .div-40 {
      height: 280px;
      left: 0;
      position: absolute;
      top: 52px;
      width: 180px;
    }

    .frame .text-wrapper-85 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 55px;
      width: 134px;
    }

    .frame .text-wrapper-86 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 152px;
      width: 135px;
    }

    .frame .text-wrapper-87 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 7px;
      width: 129px;
    }

    .frame .text-wrapper-88 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 224px;
      width: 177px;
    }

    .frame .text-wrapper-89 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      top: 103px;
      width: 61px;
    }

    .frame .div-41 {
      height: 24px;
      left: 131px;
      position: absolute;
      top: 521px;
      width: 1029px;
    }

    .frame .text-wrapper-90 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      text-align: center;
      top: -1px;
      width: 108px;
    }

    .frame .div-42 {
      height: 24px;
      left: 124px;
      position: absolute;
      top: 0;
      width: 149px;
    }

    .frame .text-wrapper-91 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 15px;
      font-weight: 400;
      left: 37px;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      text-align: center;
      top: -1px;
      width: 96px;
    }

    .frame .text-wrapper-92 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 8px;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      text-align: center;
      top: -1px;
      width: 5px;
    }

    .frame .div-43 {
      height: 24px;
      left: 273px;
      position: absolute;
      top: 0;
      width: 341px;
    }

    .frame .text-wrapper-93 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 37px;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      text-align: center;
      top: -1px;
      width: 288px;
    }

    .frame .div-44 {
      height: 24px;
      left: 614px;
      position: absolute;
      top: 0;
      width: 205px;
    }

    .frame .text-wrapper-94 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 37px;
      letter-spacing: 0.16px;
      line-height: 24px;
      position: absolute;
      text-align: center;
      top: -1px;
      width: 152px;
    }

    .frame .div-45 {
      height: 24px;
      left: 819px;
      position: absolute;
      top: 0;
      width: 201px;
    }

    .frame .text-wrapper-95 {
      color: #000000de;
      font-family: "Arial-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      left: 36px;
      letter-spacing: 0;
      line-height: 24px;
      position: absolute;
      text-align: center;
      top: -1px;
      width: 148px;
    }

    .frame .text-wrapper-96 {
      color: #00000094;
      font-family: "Arial-Regular", Helvetica;
      font-size: 14px;
      font-weight: 400;
      left: 131px;
      letter-spacing: 0.16px;
      line-height: 21px;
      position: absolute;
      top: 564px;
      width: 358px;
    }